<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string>RapidWeaver</string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>File References</key>
				<dict>
					<key>App Scope</key>
					<true/>
					<key>File References</key>
					<array/>
				</dict>
				<key>Minimum Application Version</key>
				<string>6.0</string>
				<key>PublishingManifest</key>
				<dict/>
				<key>Site Resources</key>
				<data>
				YnBsaXN0MDDUAQIDBAUGUlNYJHZlcnNpb25YJG9iamVj
				dHNZJGFyY2hpdmVyVCR0b3ASAAGGoK8QEQcIExQVHyIp
				LTE1OT1FSExQVSRudWxs0wkKCwwPEldOUy5rZXlzWk5T
				Lm9iamVjdHNWJGNsYXNzog0OgAKAA6IQEYAEgAyAEFhk
				YXRhYmFzZVRub2Rl1QsWFxgZGhscHR5eSWRlbnRpZmll
				ciBNYXBYUGFnZSBNYXBYTm9kZSBNYXBZUmVzb3VyY2Vz
				gAuAB4AKgAmABdIKCyAhoIAG0iMkJSZaJGNsYXNzbmFt
				ZVgkY2xhc3Nlc1xOU011dGFibGVTZXSjJScoVU5TU2V0
				WE5TT2JqZWN00wkKCyorLKCggAjSIyQuL18QE05TTXV0
				YWJsZURpY3Rpb25hcnmjLjAoXE5TRGljdGlvbmFyedMJ
				CgsyMyygoIAI0wkKCzY3LKCggAjSIyQ6O18QElJXUmVz
				b3VyY2VEYXRhYmFzZaI8KF8QElJXUmVzb3VyY2VEYXRh
				YmFzZdQLPj9AQUJDQ1hDaGlsZHJlblZQYXJlbnRfEBJS
				ZXByZXNlbnRlZCBPYmplY3SAD4ANgACAANIKC0ZHoIAO
				0iMkSUpeTlNNdXRhYmxlQXJyYXmjSUsoV05TQXJyYXnS
				IyRNTl8QEFJXU291cmNlTGlzdE5vZGWiTyhfEBBSV1Nv
				dXJjZUxpc3ROb2Rl0iMkMFGiMChfEA9OU0tleWVkQXJj
				aGl2ZXLRVFVUcm9vdIABAAgAEQAaACMALQAyADcASwBR
				AFgAYABrAHIAdQB3AHkAfAB+AIAAggCLAJAAmwCqALMA
				vADGAMgAygDMAM4A0ADVANYA2ADdAOgA8QD+AQIBCAER
				ARgBGQEaARwBIQE3ATsBSAFPAVABUQFTAVoBWwFcAV4B
				YwF4AXsBkAGZAaIBqQG+AcABwgHEAcYBywHMAc4B0wHi
				AeYB7gHzAgYCCQIcAiECJAI2AjkCPgAAAAAAAAIBAAAA
				AAAAAFYAAAAAAAAAAAAAAAAAAAJA
				</data>
				<key>SiteAttributes</key>
				<dict>
					<key>AddCopyrightMailTo</key>
					<true/>
					<key>BaseURL</key>
					<string>http://webdevboss.com/</string>
					<key>ConsolidateCSSFiles</key>
					<true/>
					<key>ConsolidateCommonFilesMode</key>
					<integer>1</integer>
					<key>ContactText</key>
					<string>Contact Me</string>
					<key>CopyrightText</key>
					<string>© 2017 Spencer Holman</string>
					<key>CopyrightTextUsed</key>
					<true/>
					<key>CruftlessLinksEnabled</key>
					<true/>
					<key>DefaultExportPath</key>
					<string>/Users/spencerholman/Dropbox/WebDevBoss/homepage</string>
					<key>DefaultExportPathBookmark</key>
					<data>
					Ym9va+gCAAAAAAQQMAAAAJMkO7pORHavWwLI
					6P3h/KAecDgixO8REB1sLTdyD6Ia5AEAAAQA
					AAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAN
					AAAAAQEAAHNwZW5jZXJob2xtYW4AAAAHAAAA
					AQEAAERyb3Bib3gACgAAAAEBAABXZWJEZXZC
					b3NzAAAIAAAAAQEAAGhvbWVwYWdlFAAAAAEG
					AAAQAAAAIAAAADgAAABIAAAAXAAAAAgAAAAE
					AwAAvDAGAAAAAAAIAAAABAMAADWNCQAAAAAA
					CAAAAAQDAAD5FRkAAAAAAAgAAAAEAwAA7kT8
					AAAAAAAIAAAABAMAAPxE/AAAAAAAFAAAAAEG
					AACIAAAAmAAAAKgAAAC4AAAAyAAAAAgAAAAA
					BAAAQb7Gbn0AAAAYAAAAAQIAAAIAAAAAAAAA
					DwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAAAwAA
					AAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZp
					bGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQI
					AAAABAMAAAAAACg6AAAACAAAAAAEAABBvNsw
					lgAAACQAAAABAQAAMkE5NEE4RkMtNzQ1Ny0z
					MDJCLUFBMjItRUQ5N0FFMUFCMjc1GAAAAAEC
					AACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAAB
					AAAAAQEAAC8AAAAAAAAAAQUAAMwAAAD+////
					AQAAAAAAAAAQAAAABBAAAGwAAAAAAAAABRAA
					ANgAAAAAAAAAEBAAAAQBAAAAAAAAQBAAAPQA
					AAAAAAAAAiAAANABAAAAAAAABSAAAEABAAAA
					AAAAECAAAFABAAAAAAAAESAAAIQBAAAAAAAA
					EiAAAGQBAAAAAAAAEyAAAHQBAAAAAAAAICAA
					ALABAAAAAAAAMCAAANwBAAAAAAAAAcAAACQB
					AAAAAAAAEcAAACAAAAAAAAAAEsAAADQBAAAA
					AAAAENAAAAQAAAAAAAAA
					</data>
					<key>DirectoryIndexFilenames</key>
					<array>
						<string>index.html</string>
						<string>index.htm</string>
						<string>index.php</string>
					</array>
					<key>EmailAddress</key>
					<string>spencer@webdevboss.com</string>
					<key>FavIconUsed</key>
					<false/>
					<key>LogoData</key>
					<data>
					iVBORw0KGgoAAAANSUhEUgAAAQAAAAEACAYA
					AABccqhmAAAAGXRFWHRTb2Z0d2FyZQBBZG9i
					ZSBJbWFnZVJlYWR5ccllPAAAFXJJREFUeNrs
					nQ+sFVV+x38L0tAS7UtIiJGEvA1bVsKWLEEJ
					ZF0tBYmulIriWldXtPhndW2t1mpZu8ZNVy2u
					1dqoLFrW1cqq6x8oy4phtUQWywYlb8OWkJqY
					fSFhQ0hIXtjQkBJKz6/zu3nz5s29d2bu3Htn
					zvl8kl9493HfzJmZ8/ue3zlzzu985syZMwIA
					YTKBWwCAAAAAAgAACAAAIAAAgAAAAAIAAAgA
					ACAAAIAAAAACAAAIAAAgAACAAAAAAgAACAAA
					IAAAgAAAAAIAAAgAACAAAIAAAAACAAAIAAAg
					AACAAAAAAgAACAAAIAAAgAAAAAIAAFk5i1vg
					BY85W93jc77kbC23vt585syZM9yFejPX2bt9
					OvdlzvbzCOgCQP94INBzAwIQPIucLe7j+Rdb
					GQABgD5wC2UAxgDCZJqzfc4m9rkcp53Nd3aU
					R0IEAL3j8go4v1gZLudxIADQW5ZQFqALECaT
					nP2Xs8kVKc9JZ593dopHQwQA3edzFXJ+sbJ8
					jseCAEBvOJ8yAQIQLrMoEyAA4XIuZQIEIFym
					UiZAAMJlMmUCBCBcfocyAQIAAAgAACAAZbLM
					2UfOXnZ2rTDAVUf0mV1nz/Aje6aQgJRg6c7/
					gkTTbac7W2q/3+3sFWdb+1i2c5wtlGglYNWY
					ZvfuF86O97EcKyRKj5bMU6DP9FZnO6jio7AW
					oLnzN+OQs3XONveoTDrBRlfbfcnZRTW5jyqW
					Hzrb7uyTHp1zpUQZima0+M4pRAAB6MT54ww5
					u8/ZwS61plqhVzmbU/P7esDZm2bHunD82c6e
					cDYv4/cRAQSgY+ePVyaNBp4roQyTrRyrYt0O
					33jPhECd72QJx7vTWv0izw0RQAA6cv44O53d
					5uxEgb+daRX5Cuvjh4COEehYygZnnxb4+ynO
					npfO8iEiAghAKc4fD3Wvl+ypsTSd9+0W6ofM
					ZhOCrOnFtXu0qaSuUfAiELIAlOn8DQ47u1qi
					gcJmaP68e6W/2XyriEZRT0qU57AZg87ekOjt
					TFkELQKhCkA3nL/BEWdXpojAAuuvkka7NXsk
					GlfZm+L8b0t3Vh0GKwIhCkA3nT9NBLTCPizR
					+2nIzla7b0e67PxBi0BoAtAL54+LgO6fd5dE
					g1aQnxM2PvA16U2+geBEICQB6KXzQ30JSgQm
					4PwAY5hkdWUZAoDzAyKAAOD8gAgwBoDzQ6hj
					AmskmsZMBIDzQ4CRwEbxdH3GBJwfIFwRmIDz
					A4QrAhNwfoBwRcCnQUDN+zadOgo9QBd9XUgE
					UC0OUi+BuhauAHxIvYQe8T4CUD22US+hB5yW
					KNkpAlDBftke6id0Gc1TcBQBqCYvUT+BOpYd
					36YCT5RoYwreBkC3osyF1g0gAqho/+xR6il0
					iUd9cn4fI4AG70qUdRegLDTr86W+XZSvi4H+
					WqJVXABlcMrqlCAA9VHrddRbKInvSfZ9C+gC
					VAQdENQNJC6m/kIH7JJow5fTCED90K22dOeZ
					2dRjKIBO+dWdm477eoEhZAXWdNLvSG/SSoM/
					aFr3r9i/3jIhkAd5le8PEqgzCEBzhhEByOn8
					wyFc7ISAHiwiADh/wALQEIFXqOfQhB+F5PxK
					aHsD6kDgz4W9+iAd3YvwyyFFiaFFAN/G+aEF
					U6yOEAF4yAJnW6jjkAHd2n0vEYB/rT8AdSVA
					AVjsbD71GjIy3+oMXQBPYHkw5EUX/1zm+0We
					FUjrH7rz65z2T50dkug11ykZn9pa10voxheD
					zmY4mylhr6GYa3VnJwJQb24JsPLqayzNkrzH
					bCRji5dkwNkis+US3nqKW3wXAN+7AHOc/SyQ
					ynrCnP4tZ7u7dA4Vgq+aGITyOlWzAB1AAOrJ
					U86u9byC6lLVF51taNPSz7awfoaF+ZNiIf5B
					6xb8q7NfZTinRga3O7tZoiXXPvO6s3sQgPqh
					FfOXziZ7en3qsM85Wy/p69XPtZa6EcIPtDne
					Whmb8lpHwm919rFFFmmz4zQKuMvZneLvpqwn
					nX1RPM0J4LMArHb2mKfXpllqHpRoYC/pkOr0
					Vzu7KMfx7pexayR00tRrCfHUsYQfmxicSPy9
					RhaPiL/Zl5LiiADUAB9f/Wmr/7CF/Mlo52YL
					ywdyHlOTXb6aaPlfa9HHH7HuxospreLNVj7f
					ogFvXwn6KgDat33fs2sadvYNGT9af7ezOwr2
					xe+xPm5W54+jUcAz1g2JZ2BW0f2+jTP4xBLx
					cAdqX2cCXuHZ9QxJlJ4q7VXdAwWc/3SK88+T
					KIlq1tH9KXbuf0+E/vutrEPUKQSgXyz36Fp2
					Wp9+pKTjqfPfl+L8rxaMImZa1PBILPQfsTLv
					8ug5/CkCUJ/wf5ZHzn+TRCPRUkJYrc7/lwnn
					n9uB8yf7/z+JlVHL/HXxZyKNlzMjfRSAJR6F
					/Wti/Wttpd8pwfk3J5z/x1Leu/y5VsZ59vmU
					XcMQdQsB6BVLPbgGnbN/Y6zlV4fSGX4DHTj/
					NxPOP8dC97In8gxYWefFIoEb7ZqoWwhAV9HK
					V/dlv41W85h91pl7L0vxCU16PH1LsDXh/G90
					ICjtmGxlnmGfjyWimboyv4v3DAEoAZ3xNrHm
					1/CwjM4910G1jc6mduD82vJvi/1utrX83a7I
					U63sjYHBA3ZtdWai1TFvqMs8AO1b6sDe+bGQ
					dVZKqzhN6r1iTQfMro991pH1mxPfOS/x+Tct
					nF/nDWxPOOU/dyAoRdDI47nY55drHkrrlOij
					id/pnIjGrEx9A/KJRHMGDiAAxVBHXiHR++WL
					xN/5/EmHvURG01LrWvRNKd/LIgB6LJ3Hv6OC
					1zno7APxd+1AHB3/2G3CvjXWrUMAmqBz0HVh
					yRIPQvm86Ky6R2Oh/weS/tqvnQBU2fkbfEui
					RUQhoQOxOjv1aanQW5GqCMBcqxShbuWtYeOF
					MrrI5i67H5JTANT5b5Lqv3vXWYQfiWcDajnY
					bGJ/GAEQedzZDRI2Tzh70n4eMOeYklMANNxc
					02Xn1xmE9xb82xMmco0Zjffa8UJFn5cuqloX
					ugD8JnDnTzpGOydLE4A8zq9vAfR1VnwQVf9e
					B672SfsFLzr//+6C1/qkiV0WoQuF8/p58rME
					+s3WmPOrM/x5gZZEJ9rsbhNy61Lh65xNb3M8
					DUs1N8C/yPh1/2It1sSCfXi9tvV23BG79uuo
					Av1jAreg77wZ+3lFgX5xO+e/wVra+zI4v9h3
					HrC/adY10/7rcwWudcCuMe3aAQEIDp0euyf2
					eVWBYzRzfg3vn5VojGWgoLM+bsdIew37XevD
					5iV+jXvEjynCCAAUIp60RKfNljXLTB1Wp/qu
					TPx+v4X290v2wcKVdqw0EfiOHS8Pi2R0inDy
					HgACEBQfxH4uc6XZP8rYNRE6sKcJLTSt1UPW
					x8/T8s63Y6bxUAERWNLkHgACEAw6MSS+A+0l
					JR33hljLr+d4whw/Ofkk7+j7yhZjAioCeZJm
					xq91r5UTEICg0Lnj8Sw/wyUcs5Gmq8HfSfTq
					7VST7+blgRZ/lydzrs74bMz0HJHx2Y0BAfCe
					TxKfH5bOU0/rq7nGQp/3mhxvuTlykYzJeuw7
					Wvz/WhmbXrwZOsA4s8W9gB7BPID+RgBpDvS/
					Mn4FYBa0RY2/U/9O4v914O1Z6TxfgnYDnmoR
					tt+fUpY0ZsUcnwiACCA44iH/78Z+1g0/Xixw
					PN29ZlqsXx13Kl1ctEnKSZYyzc7VCt1r4PU2
					35lZcvcHEIBaEd9U4y9k7Bp9FYG8I+sXxH7e
					lRL2zyyx7Bdk+M49bURgsMm9AAQgCH4b+/nz
					Mj5Lj46s55ltNzPR4s+N2eUllz1NTNK2ItPZ
					h81m+53T5F4AYwBBEJ9nf7aM5um7RkbfDnzX
					/r0zw/HiDnW3FF+wIznP1UAz/SSnJTc2IFGS
					sxzPbnIvgAggWNIy9aoIPFODsjcSgS5O/L4h
					Alt5vAgAjDKlSQiclqtfF988nWNMoZfjF0kR
					2NhEBL6ZEIHfNrkXgAAEwdktHCptt551bUSg
					l6/SPm0TCfywhQhsS7nms6kOCEBoxJ17OOX/
					G5t1JkWgGb3MM9fuXJNMBJamiMAdJgLDbcYU
					AAHwmsEMLep8yb5jr2bzOdqDch+1c0kGEdDu
					wLImkcB/NLkXgAAEQdapsCoCr2UQgdPWbeg2
					r0r2xTsqAi/I+NeQujbh49jnz1IdEIDQmJWI
					AEbaiMAmab8/wjNS3jbiaYxI/jcSKgLfl/Fb
					tseTUZ5PdUAAQowABmKt9942319gkUArETgh
					3c0yu06KvbNXEXg2RQRExi8MAgQgCCaaUzfI
					khhjQYZIQFcAbu5CebdKZ6sVVQTWp4jABRLe
					JjAIAPw/8cQYWVNjaUqtdrsF62KcfSWWU4/1
					VyWJnorA78V+dzHVAAEIlXhqrGSC0FbovPsf
					thABTRV+jZQz+26bHetkSdesXZ3/jn1eRjVA
					AEIlmQg0T5psbTk3thEB3R1YcwwUGRgcsb+9
					rYnzTyt4zW8mopkZVAMEIGRWJfrZeab0LjYR
					mNRmTGChRKnBsuxFd9i+u7BFn1+d/60C13o8
					EZWs4vH3F7YG6z86qj4/5vhF9t/TFN83SXru
					vySNrcHmyOjgm76FOCDZtgY7V6JVizpyf17O
					5xjfGuwcOx9bgwUuAGwOmm9z0GZoDsA1GUWg
					KHHnl5wCwOagY9Hn9AMZn7otOAFQ2B587Pbg
					10qxvIA7YkLSDed/W8ZO280jAHGRY3vwaE5F
					33dFqooANNDRbR10WhpgpdAZdo9WtGzTrc8/
					o0X42koAhiV65Xmqg26OD6hA64rOoaoUqGoC
					0EAHmVZaRKCiMCmQkPASqV6CzGbOn0cAbrQu
					ilgE8UEgz1TfnmiGJM3RqIOfR6tWwKoKQBwd
					qNIBKx28+gMZXToaH8SKC8e5Na4w75mzVMn5
					t0jzXYWzCIC+SVgb+/xyzSO8IymOrOJ9MNad
					+8Rsf9Uvpg4CkAdddbax5tcQ32FHW8l3TOy6
					iS5GusYqd4MZ1vK32lK8nQDom4WvxEL/1c4e
					q/nz0YHW7b44jG8CoINKv5J6zy0/ZU5zwD7r
					iPtPpHsDZtrluCrF+bdkiKZaCcAxZ1fKaK6D
					OSZmdQ799XXpH0p3V1z2FN8mAumD2Vfza2gs
					nx2Itc7XS3lTcds5/2BG52/X970x5vxT7Zrq
					3u/f55Pz+ygAjX503dFWP77qb0jGpgsvg0Mp
					zq/nfbtD5x+xsjZGuhvZgmdStxCAXvC+J9cx
					L9Fq7kt0DTp1/qtTnP+NDp2/0effl4hm5lG3
					EIBecVD82WxSV8rFF/xoyP4n0tm6/MPm/PF1
					AZqd6K0Onf8VK9twrOVPywlYVz6V9tOkEYCK
					8G8eXctSa5kHYv3rtTYuMFyS8+s+BNM6LOf9
					sXGKASvzUuoUAtAPfurZ9ejineTrQF0A9McS
					TbHNkqbriDn/oZSWv4jzNztnY7R/PnUKAehn
					N2C/Z9c0KNHrwNWx32mLq/PrdR2BTjE93sL5
					r0o4/2xz/qk5y3HcznVhyv/dYGUc9Oze7/cx
					/Fd8mwcQx4dJJ83Q1v/BlC6AzpJcIdE06kUJ
					5x9OtNKv5XR+zVaki1jSchaowz8i43cD8oX4
					5CwEoCaoM/xS2qfSriva+uv24eubhOPTzSHf
					k7Gj/XMSYwqtWvpfmONvk/RkIrqqT3f6udPz
					+/xF6e3eiwhASTwl0dJan9H37hucvZihkv6+
					sz+T0ZTkjQU+h+w46uS/lmjE+0AbcdXlyreL
					/0t6X5fRLc4RgJqhrd3PJAwa6bY2S/bkonlZ
					ZN2LFRLOfn6XSjlzLxCAPrHJ475pMw5b2L7H
					wvii4as6+UJz/OXSemGQj+yyiEkQgPqy2EQg
					ZA5YWP9rE4cRGZ+NZoaF8+rkn7VuwpzA75vO
					tdiJANSfdyVKOwaQRzQv9f0iQ0kL/iT1GXLy
					vRAuMhQB0FxsQ9RpyMiQ1RkEwCPWUa+BuhKu
					AOiI7mbqNrRhs9WVIAhlELCBLnf9ubAbDaSj
					Myq/LGNnThIBeIQ+2A3Uc2jChpCcP0QBGHT2
					Neo5NEHrxgwEwF/n7zTfHfjfRdwSkghMwPkB
					whWBEAYB9YG+g/NDToZlfNZkIoCaoYtZNuH8
					UDBq3CSer3r0WQB0d6DnJUp9BVCE2VaHJiIA
					9UOTVVxMHYYOudjqEmMANcKHfeigOiT3ayQC
					qDiP4/xQIpOsTtEFqAGasmoedRZKZp7VLboA
					FUYHazQF1nTqK3QBzaakKdJOEwFUkytwfugi
					062O0QWoKKupo0AdC7MLoOr8EfUTuoyG/7pR
					yDEigGqxnLoJPWCiT3XNJwH4EnUTesQSBKB6
					MOUXqGsBC8BDEs3YAugmWsceRACqx3Zn30AE
					oMvOf6t4lDLcx7UAy5y9IEwFBpw/qAigwQ57
					UEQCgPMHKACIAOD8gQsAIgA4f+ACgAgAzh+4
					ACACgPMHLgCIAOD8gQtAP0RA00k/LdF+c1CM
					E3YPj+D8CECdREArrOaU122mdbPJbfhybvSe
					/ZHdw17k5w/O+ZXQdgdu0M3JQg3nH078XrPL
					3utsAb7dkr3OnpTxW3QPSvd2dwrS+UMWgG6J
					gKaMuibF+ePMNyFYjK+PYac5/r4W31EReEPK
					zfoUrPOHLgBli8BBZ9c5O5rx+3Od3e3s8sAd
					f7v18/dn/P40Z69KOSvygnZ+BKA8EdBwdY0U
					G/DTinybREkmpgRyz09YH/95E8686H3aKJ1t
					/BK88yMAnYvAKQtbny6hDFOsHKs87h5omP+m
					tfonSzjeXc7+puBzC975EYDORGDI2X0FW7As
					Ye5XJcpDX/fkE3p/3jLHP9qF4+suUP9k/+L8
					CEDXReCQRK+mNveoTLOtXJry7KKa3Mfdzj40
					JzvYo3OqWH5LWg8Q4vwIQGER0NdTP3D2U+nf
					xhDnmBB8W6IR8Sox7OzvzfGP96kMmrBzhUSp
					uxfg/AhAJyLwD87+0yrMji6Fr0XZItWbT6AC
					eWWFyjPNnqPaF5z9Lc6PAPgCAgClMIFbAIAA
					AAACADXhfygTIADhcpIyAQIQLscoEyAACABl
					AgQgQIYpEyAA4XKAMgECEC46v75Kg24npXdz
					/gEBCB51uI8rVJ4h4S0AAgA95X3KAp3CWoD6
					ootdNH/exD6XQ1dGXii9S90NRAAg0erEnRUo
					x06cHwGA/rCeMgACEC57ZHz+/F6yy8oAjAFA
					n9D04u/26dyXSfZ03kAEAF1AHfClPpz3JZyf
					CAAAiAAAAAEAAAQAABAAAEAAAAABAAAEAAAQ
					AABAAAAAAQAABAAAEAAAQAAAAAEAAAQAABAA
					AEAAAAABAAAEAAAQAABAAAAAAQAABAAAEAAA
					QAAAAAEAAAQAAAEAAAQAABAAAEAAACAE/k+A
					AQApmfur9WrY8wAAAABJRU5ErkJggg==
					</data>
					<key>LogoFilename</key>
					<string>gear_camera</string>
					<key>LogoUsed</key>
					<true/>
					<key>ObfuscateEmailAddress</key>
					<true/>
					<key>PreviewAfterExportRelativeToBaseURL</key>
					<false/>
					<key>PublishingSettings</key>
					<dict>
						<key>publisher</key>
						<string>FTP</string>
						<key>settings</key>
						<dict>
							<key>anonymous</key>
							<false/>
							<key>enablePublicKeyAuthentication</key>
							<false/>
							<key>passiveMode</key>
							<true/>
							<key>path</key>
							<string></string>
							<key>server</key>
							<string></string>
							<key>type</key>
							<integer>1</integer>
							<key>user</key>
							<string></string>
						</dict>
					</dict>
					<key>PublishingSettingsConfigured</key>
					<true/>
					<key>ShowBreadcrumbTrail</key>
					<true/>
					<key>ShowTidiedCode</key>
					<false/>
					<key>SloganText</key>
					<string>Complete IT solutions for your business</string>
					<key>SloganUsed</key>
					<true/>
					<key>ThemeName</key>
					<string>Tesla</string>
					<key>TitleText</key>
					<string>WebDevBoss</string>
					<key>TitleTextUsed</key>
					<true/>
					<key>UserAgentResizingPreset</key>
					<integer>0</integer>
					<key>WantsXMLSiteMap</key>
					<true/>
					<key>WebClipIconUsed</key>
					<false/>
					<key>globalCSS</key>
					<string></string>
					<key>globalHeader</key>
					<string></string>
					<key>globalJavascript</key>
					<string></string>
					<key>globalPrefix</key>
					<string></string>
					<key>hasChangedGlobalCSS</key>
					<true/>
					<key>hasChangedGlobalHeader</key>
					<true/>
					<key>hasChangedGlobalJavascript</key>
					<true/>
					<key>hasChangedGlobalPrefix</key>
					<true/>
					<key>putGoogleAnalyticsInHead</key>
					<true/>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>DefaultPageAttributes</string>
				<string>Pages</string>
				<string>QuickLook</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>RapidWeaver Document</string>
</dict>
</plist>
